{{!-- <div class="margin"></div> --}}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h5>Feel free to make your complaints</h5>
        <ul class="list">
              <li>Assessment or grading error</li>
              <li>Sexual harassment</li>
              <li>Injustice treatment</li>
              <li>And any other complaints</li>
        </ul>
      </div>
      <div class="col-4 text-center">
        <h5>Social Media Handles</h5>
        <ul class="inline-list">
          <li>
            <a href="https://www.facebook.com">
            <i class="ion-social-facebook icon-bg facebook-blue"></i>
            </a>
          </li>
          <li>
            <a href="https://www.whatsapp.com">
            <i class="ion-social-whatsapp icon-bg whatsapp-green"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
            <i class="ion-social-twitter icon-bg twitter-blue"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4 text-center">
        <h5>Websites</h5>
        <ul class="list">
          <li><a href="https://www.imopoly.edu.ng">imopoly.edu</a></li>
        </ul>
      </div>
    </div>
    <p class="center"><span>Site developed and powered by Me. All &copy; reserved {{year}}</span> </p>
  </div>
</div>