{{#if success}}
<div class="alert alert-success dialog col-5 mx-auto">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{success}}
</div>
{{/if}}


{{#if error}}
<div class="alert alert-danger dialog col-5 mx-auto">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{error}}
</div>
{{/if}}