<div class="container-fluid">
<div id="mySlider" class="carousel slide row" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#mySlider" data-slide-to="0" class="active">
      ::before
      ::after
    </li>
    <li data-target="#mySlider" data-slide-to="1">
      ::before
      ::after
    </li>
    <li data-target="#mySlider" data-slide-to="2">
      ::before
      ::after
    </li>
    <li data-target="#mySlider" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/bee72fe.jpg" alt="depressed student">
      <div class="carousel-caption slider-text-container">
        <h3 class="slider-text">Official Complaint Portal</h3>
        <p class="slider-text">Feel free to make your complaint</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/1.jpg" alt="depressed student" class="slider-img">
      <div class="carousel-caption slider-text-container">
        <h3 class="slider-text">Any Issue Bothering You</h3>
        <p class="slider-text">We are here for you</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/2.jpg" alt="sad student" class="slider-img">
      <div class="carousel-caption slider-text-container">
        <h3 class="slider-text">Your Complaint Matters</h3>
        <p class="slider-text">Please share with us</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/4.jpg" alt="Sad student">
      <div class="carousel-caption slider-text-container">
        <h3 class="slider-text">Talk To Us</h3>
        <p class="slider-text">Your happiness is our top priority</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#mySlider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#mySlider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>    
</div>

<div class="hero-text">
  <h3>WELCOME TO IMO STATE POLYTECHNIC ONLINE COMPLAINT PORTAL</h3>
</div>