<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Bootstrap Tutorial</h1>
        <form action="#" method="post">
            <div class="form-group">
                <textarea class="form-control" name="complaints" rows="4" maxlength="500"></textarea>
            </div>
            <button type="submit" class="btn btn-ptimary" id="reply">Reply</button>
        </form>
    </div>
</div>