  <div class="container p-top col-md-8 p-bottom">
  <form action="/student/signin" method="POST" class="col-md-8 mt-2 mx-auto login-form">
    <legend>Change Student Password</legend>
    <div class="form-group">
      <label class="control-label">Old Password</label>
      <input type="password" class="col-md-8 form-control" name="oldPassword" />
    </div>

    <div class="form-group">
      <label class="control-label">New Password</label>
      <input type="password" class="col-md-8 form-control" name="password" />
    </div>

    <div class="form-group">
      <label class="control-label">Confirm New Password</label>
      <input type="password" class="col-md-8 form-control" name="confirmPassword" />
    </div>

    <div class="form-group">
      <input type="submit" class="col-md-3 btn btn-warning" value="Change"/>
    </div>
  </form>
</div>








{{!-- <section class="col-md-6 mx-auto login-form">
  <div class="card">
    <h3 class="card-header bg-warning text-dark text-center">Change Student Password</h3>
    <div class="card-body">
      
      <form action="/student/?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <label class="control-label col-md-5" for="oldPassword">Old Password</label>
          <div class="col-md-12">
            <input type="password" name="oldPassword" id="oldPassword" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-5" for="password">New Password</label>
          <div class="col-md-12">
            <input type="password" name="password" id="password" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-9" for="confirmPassword">Confirm New Password</label>
          <div class="col-md-12">
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
          </div>
          <!-- This is used by the front end javascript -->
          <div class="col-md-10" id="confirmPasswordErrorBox" hidden="">
            <p class="alert alert-danger text-small mt-2" id="confirmPasswordError">
              <span class="close icon-small" data-dismiss="alert">×</span>
              
            </p>
          </div>
          <!-- ends here -->
        </div>

        <div class="form-group">
          <div class="col-md-8">
            <input type="submit" name="changePassword" value="Change" class="btn btn-warning">
          </div>
        </div>
      </form>
    </div>
  </div>
</section> --}}