<div class="container p-top">
  <div class="p-bottom mt-1">
    <div class="card jumbotron col-md-9 mx-auto">
      <div class="card-body text-center">
          <div class="box">
            <h1>About the Portal</h1>
            <p>
               This online portal is designed for only Imo state Polytechnic students and it provides a <span>24/7</span> web service. With this students of Imo state polytechnic can make their complaints on any issue bothering them from any where there is internet access.
            </p>
          </div>
      </div>
    </div>
  </div>
</div>

{{!-- {<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>About Us</h1> 
    <p>This is our online complain system, where student can create an account,login and make their complaints on any issues bothering them.</p> 
  </div>
</div> --}}

{{!-- <div class="container" id="complaint">
    <h3>About Us</h3>
    <p>Are you looking for a polytechnic with style and swag? Is Imo State polytechnic the place you want to be? If you
        value very small class sizes, close connections with faculty and fellow students, innovations, and a challenging
        yet supportive academic environment with broad undergraduate research and skill acquisition opportunities, then
        Imo State Polytechnic is the place to be.<br>

        <br> over 10,000 talented undergraduate students and over 2000 vibrant, youthful and talented work force, the
        Polytechnic is known for its stimulating, resourceful, technology oriented and collaborative environment in the
        classroom, on and off campus, and all over the federation.<br>
        
        <br>This is our online complain system, where student can create an account,login and make their complaints on any issues bothering them.</p>
</div> --}}